/* DESIGN: Heading 1 */
h1 {
    color:rosybrown;
    font-family: "Bell MT";
    text-align: center;
    font-size: 50px;
}

/* DESIGN: Heading 2 */
h2 {
    color:black;
    font-family: "Bell MT";
    text-align: center;
    font-size: 25px;
}

/* DESIGN: Background Styling */
body {
    background-color: peachpuff;
}

/* DESIGN: Buttons */
.buttons {
    background-color: darkorange;
    color: white;
    padding: 5px;
    font-size: 18px;
    font-family:'Courier New';
    border: 1px solid rosybrown;
    cursor: pointer;
}

/* FUNCTIONAL DESIGN: Buttons on hover & focus */
.buttons:hover, focus {
    background-color: orange!important;
}

/* DESIGN: Header Buttons */
.header-buttons {
    padding: 20px;
    background-color: burlywood;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

/* FUNCTIONAL DESIGN: Header buttons on hover & focus */
.header-buttons:hover, focus {
    background-color: lightyellow!important;
}

/* DESIGN: Labels */
.labels {
    font-size: 20px;
}