#profile_button:hover, :focus {
    background-color: lightyellow!important;
}

/* DESIGN: Search Menu <div> containers */
.searchMenu {
    position: center;
    display: inline-block;
}

/* DESIGN: search field */
.dropdown-list {
    box-sizing: border-box;
    background-image: url('resources/searchicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid lightgrey;
}

/* FUNCTIONAL DESIGN: search field on focus or click */
.dropdown-list:focus {
    outline: 1px solid lightgrey;
}

/* FUNCTIONAL DESIGN: Dropdown Content (default hidden) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 230px;
    border: 1px solid lightgrey;
    z-index: 1;
}

/* DESIGN: Dropdown Content links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* FUNCTIONAL DESIGN: Dropdown Content links on hover */
.dropdown-content a:hover {
    background-color: lightgrey;
}