/* DESIGN: Area Search button */
.areaSearchBtn {
    background-color: darkorange;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: 1px solid rosybrown;
    cursor: pointer;
}

/* FUNCTIONAL DESIGN: Area Search button on hover & focus */
.areaSearchBtn:hover, .areaSearchBtn:focus {
    background-color: orange;
}

/* DESIGN: area search field */
#areaSearchInput {
    box-sizing: border-box;
    background-image: url('resources/searchicon.png');
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

/* FUNCTIONAL DESIGN: area search field on focus/click */
#areaSearchInput:focus {
    outline: 3px solid #ddd;
}

/* DESIGN: Area Search <div> container */
.areaSearch {
    position: center;
    display: inline-block;
}

/* FUNCTIONAL DESIGN: Dropdown Content (default hidden) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 230px;
    border: 1px solid #ddd;
    z-index: 1;
}

/* DESIGN: Dropdown Content links */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* FUNCTIONAL DESIGN: Dropdown Content links on hover */
.dropdown-content a:hover {
    background-color: lightgrey;
}

/* FUNCTIONALITY: showing dropdown menu; to be used in JS */
.show {
    display:block;
}