h1 {
    color:rosybrown;
    font-family: "Bell MT";
    text-align: center;
    size: 50px;
}

h2 {
    color:black;
    font-family: "Bell MT";
    text-align: center;
    size: 25px;
}

/* Background Styling */
body {
    background-color: peachpuff;
}